<script type="text/javascript">
            {% if msg %}
            alert('{{msg }}');
            {% endif %}
        </script>
<form action = '/SecureWitness/makeGroup/' method = 'POST'>
	{% csrf_token %}
    {{ form }}
	<br><br>
	<input type = 'submit' value='Create Group'>
</form>

<form action = '/SecureWitness/adminPage/' method = 'POST'>
	{% csrf_token %}
	<input type = 'submit' value = 'Return To Admin Page'>
</form>

<div style="position: fixed; top: 10px; right: 50px;">
    <a href="/SecureWitness/logout">Logout</a>
</div>