<div style="position: relative">
    <a href="/SecureWitness/homepage"><img style="position: fixed; top: 5px; right: 5px;"; src="http://i.stack.imgur.com/m4bqm.png"></a>
</div>
{% if ingroup %}
<form action = '/SecureWitness/addUserToGroup/' method = 'POST'>
	{% csrf_token %}
	<table align="left">
    {{ form.as_p }}
    </table>
	<input type = 'submit' value='Add User'>
</form>
{% else %}
    You are not in any groups.<br/>
{% endif %}
{% if admin %}
<form action = '/SecureWitness/adminPage/' method = 'POST'>
	{% csrf_token %}
	<input type = 'submit' value = 'Return To Admin Page'>
</form>
{% endif %}
