{% if ingroups %}
<form action = '/SecureWitness/addUserToGroup/' method = 'POST'>
	{% csrf_token %}
	<table align="left">
    {{ form.as_p }}
    </table>
	<input type = 'submit' value='Add User'>
</form>
{% else %}
    You are not in any groups.<br/>
    <a href="/SecureWitness/homepage/">Click here to return to homepage.</a>
{% endif %}
{% if admin %}
<form action = '/SecureWitness/adminPage/' method = 'POST'>
	{% csrf_token %}
	<input type = 'submit' value = 'Return To Admin Page'>
</form>
{% endif %}
