<DOCTYPE !html>
<html>
<title>Admin Page</title>
<body>

	<form action = '/SecureWitness/giveUserAccess/' method = 'POST'>
		{% csrf_token %}
		<br>
		<input type = 'submit' value='Give User Admin Access'>
	</form>

	<form action = '/SecureWitness/createGroup/' method = 'POST'>
		{% csrf_token %}
		<input type = 'submit' value='Create Group'>
	</form>

	<form action = '/SecureWitness/addUser/' method = 'POST'>
		{% csrf_token %}
		<input type = 'submit' value = 'Add User'>
	</form>

</body>
</html>

