<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness</title>
</head>
<body style="width: 100%;height: 100%;">
<h1>Welcome to SecureWitness</h1>

<p>SecureWitness provides human rights activists and social justice groups a safe and
    secure platform
    <br> to collect, store and share information on situations of concern.</p>
<a href="/SecureWitness/login/">Login or Signup</a> to begin.

<!--<a href="/SecureWitness/search/">Search</a>
<a href="/SecureWitness/upload/">Upload</a>
<a href="/SecureWitness/index">Index</a>-->

<div style="position: relative">
    <p style="position: fixed; bottom: 0; width:100%;">
        <strong>Group 8</strong>
        <br>Lauren Barker
        <br>Fangyang Cui
        <br>Jordan Lu
        <br>Katie Banach
    </p>
</div>

</body>
</html>