<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Secure Witness</title>
</head>
<body>

<div style="position: relative">
    <a href="/SecureWitness/homepage"><img style="position: fixed; top: 5px; right: 5px;"; src="http://i.stack.imgur.com/m4bqm.png"></a>
</div>

<h2>Index</h2>

<b>List of reports submitted by {{ user }}</b>
{% if report_list %}
    <br/>
    Reports not contained in a folder
    <table border="1">
        <tr><td>Author</td><td>Short Description</td><td> Long Description</td> <td>Location</td> <td> Keywords</td> <td>Incident Date </td><td>File</td></tr>
    {% for report in report_list %}
        <tr>
            {% if not report.folder %}
            <td>{{report.author}}</td>
            <td>{{report.shortdesc }}</td>
            <td>{{report.longdesc}}</td>
            <td>{{report.location}}</td>
            <td>{{report.keywords}}</td>
            <td>{{report.incident_date}}</td>
            {% if report.file %}
            <td><a href = '{{report.file.url}}'>File </a></td>
            {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% if folder_list %}
<br/>List of Folders containing Reports
<table border = "1">
    <tr><td>Folder Name</td><td>Number of Reports</td><td>Link</td><td>Delete</td><td>Rename</td></tr>
    {% for key, value in folder_list.items %}
    <tr>
    <td>{{key}}</td><td>{{value}}</td><td><a href="/SecureWitness/viewFolder/{{key}}">View Folder</a>
</td><td><a href="/SecureWitness/deleteFolder/{{key}}">Delete Folder</a></td>
        <td>
            <form action="/SecureWitness/renameFolder/{{key}}" method="post">
                {% csrf_token %}
        <input type="text" value="Enter new Name" name="new" ><input type="submit" value = "submit">
        </form></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% else %}
    <p>No reports are available.</p>
{% endif %}
{{test}}
</body>
</html>