<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Secure Witness</title>
</head>
<body>

<div style="position: relative">
    <a href="/SecureWitness/homepage"><img style="position: fixed; top: 5px; right: 5px;"; src="http://i.stack.imgur.com/m4bqm.png"></a>
</div>

<h2>Index</h2>

<b>List of reports submitted by {{ user }}</b>
{% if report_list %}
    <table border="1">
        <tr><td>Author</td><td>Short Description</td><td> Long Description</td> <td>Location</td> <td> Keywords</td> <td>Incident Date </td></tr>
    {% for report in report_list %}
        <tr>
            <td>{{report.author}}</td>
            <td>{{report.shortdesc }}</td>
            <td>{{report.longdesc}}</td>
            <td>{{report.location}}</td>
            <td>{{report.keywords}}</td>
            <td>{{report.incident_date}}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No reports are available.</p>
{% endif %}
</body>
</html>