<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness</title>
</head>
<body>
<h1>SecureWitness</h1>

<b>Welcome {{ user }}</b><br/>
<p> </p>
<p><a href="/SecureWitness/search/">Search</a></p>
<p><a href="/SecureWitness/upload/">Upload</a></p>
<p><a href="/SecureWitness/index">Index</a></p>
<p><a href="/SecureWitness/addToGroupUser">Add Other Users To Your Groups</a></p>
<p><a href="/SecureWitness/viewAvailableReports">View Reports Available To You</a></p>

<p> </p>

{% if adminStat == 1 %}
<form action = '/SecureWitness/adminPage/' method = 'POST'>
	{% csrf_token %}
	<input type = 'submit' value = 'Admin Homepage'>
</form>
{% endif %}

<div style="position: absolute">
    <p style="position: fixed; bottom: 0; width:100%;">
        <strong>Group 8</strong>
        <br>Lauren Barker
        <br>Fangyang Cui
        <br>Jordan Lu
        <br>Katie Banach
    </p>
</div>

<div style="position: absolute; top: 10px; right: 50px;">
    <a href="/SecureWitness/logout">Logout</a>
</div>

</body>
</html>