<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SecureWitness</title>
</head>
<body>
<h1>SecureWitness</h1>

<b>Welcome {{user}}</b><br/>
<p> </p>
<a href="/SecureWitness/search/">Search</a>
<a href="/SecureWitness/upload/">Upload</a>
<a href="/SecureWitness/index">Index</a>

<div style="position: relative">
    <p style="position: fixed; bottom: 0; width:100%;">
        <strong>Group 8</strong>
        <br>Lauren Barker
        <br>Fangyang Cui
        <br>Jordan Lu
        <br>Katie Banach
    </p>
</div>

</body>
</html>